@import url('https://fonts.googleapis.com/css?family=Francois+One|Hind+Vadodara');
/*font-family: 'Hind Vadodara', sans-serif;*/
/*font-family: 'Francois One', sans-serif;*/

.centrar{
	margin: auto;
	width: 1000px;
}

body{
	margin: auto;
	font-family: 'Hind Vadodara', sans-serif;
}

.header{
    background-color: white;
    width: 100%;
    padding: 0px;
    margin: auto;
}

.titulo img{
	margin: auto;
	display:block;
	padding-top: 40px;
	padding-bottom: 40px;
}

.menu{
	background-color: #00B4EE;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu_container{
	width: 1000px;
	margin: auto;
}

.menu ul{
	text-align: right;
	padding-left: 0px;
	margin-bottom: 24px;
	font-size: 1.5em;
}


.menu li{
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
}

.menu a{
	text-decoration: none;
	color: black;
	transition: all 0.3s;
	margin-right: 20px;
	margin-left: 20px;
}

.menu a:hover{
	color: white;
}

.apartado1 h2{
	padding-top: 40px;
	color: black;
	text-align: left;
	font-size: 3em;
	margin-bottom: 0px;
}

.paragrafo1 p{
	width: 450px;
	font-size: 1.5em;
	float: left;
	padding-bottom: 80px;
}

.paragrafo1 img{
	width: 40%;
	float: right;
}

.paragrafo2 ul{
	padding-top: 320px;
	padding-left: 14px;
	text-align: left;
}

.paragrafo2 li{
	text-align: left;
}

.paragrafo2 a{
	font-size: 1.5em;	
}

.paragrafo2 img{
	width: 40%;
	float: left;
	padding-left: 45px;
	padding-right: 45px;
}

.paragrafo3 p{
	width: 450px;
	font-size: 1.5em;
	float: left;
	padding-bottom: 80px;
}

.paragrafo3 img{
	width: 40%;
	float: right;
}

.rutina{
    margin: auto;
    border-collapse: collapse;
}

.rutina th{
    padding: 10px 45px;
    background-color: black;
    color: white;
    text-align: center;
    border: solid white;
}

.rutina td{
    padding: 10px 8px;
    background-color: black;
    color: white;
    text-align: center;
    border: solid white;
}

.paragrafo4 p{
	width: 450px;
	font-size: 1.5em;
	float: left;
	padding-bottom: 80px;
}

.paragrafo4 img{
	width: 40%;
	float: right;
}

.paragrafo5 p{
	width: 450px;
	font-size: 1.5em;
}

.paragrafo5 ol{
	padding-left: 14px;
	text-align: left;
}

.paragrafo5 li{
	text-align: left;
}

.paragrafo5 a{
	font-size: 1.5em;	
}

.paragrafo6 h3{
	width: 450px;
	font-size: 1.5em;
}

.paragrafo6 ol{
	padding-left: 14px;
	text-align: left;
}

.paragrafo6 li{
	text-align: left;
}

.paragrafo6 a{
	font-size: 1.5em;	
}

.paragrafo6 img{
	width: 60%;
}

/*Pié de página*/
.footer{
	margin-top: 80px;
	padding-top: 80px;
	background-color: #00B4EE; 
	height: 420px;
}


.f_1{
	width: 450px;
	border-right: 1px solid white;
	float: left;
}

.f_1 p{
	color: white;
	font-size: 1.5em;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.f_1 img{
	width: 50px;
	vertical-align: middle;
}

.f_2 iframe{
	width: 50%;
	padding-top: 18px;
	padding-left: 45px;
}

.footer2{
	margin-top: 100px;
	background-color: white;
	height: 80px;
}

.footer2 p{
	color: black;
	font-size: 1.5em;
	text-align: center;
	padding-top: 20px;
}










.clear{
	clear: both;
}